// styles in src/style directory are applied to the whole page
body {
    // background: #0147A7;
    // background: #264d00;
    background: #385567;
    color: #fff;
}
a {
    // color: #03A9F4;
    color: #c3dA96;
}
